{% extends "home/base.html" %}
{% block content%}
  <article class="media content-section">
    <div class="article-metadata">
      <em>
      <span><h2>About The Website</h2></span>
      <br>
      <hr>
      <span><h5>Welcome to Healthy NSU</h5></span>
      <span><h6>An online platform to create more health awareness among nsuers.</h6></span>
      <hr>
      <hr>
      "
      Healthy NSU is a blogging site which is created with a purpose to build a strong awareness about health problems for this university.
       This is a website where both students and teachers can ask health related problem without any hesitation, or they can also suggest any
       solution to a health related problem. As day by day the number of patients in our country is increasing so we want to limit this number
        as few as we can. Healthy NSU will be able to help students and teachers to maintain a healthy life and will get them safe from any health
        related issues. None the less, this website will only be available to the students of North South University so a clear communication between
        the university people will be created by this platform.


      "

      </em>
      <br><br><br>
      <strong>Developed by</strong>
      <br>
      <em>Monsur Hillas
      <br>
      ID : 1721911042
    </em>
    </div>


  </article>

{% endblock content %}
