{% extends "home/base.html" %}
{% block content%}
  <main role="main" class="container-fluid">


    <div class="container">



      <div class="container col-md-10">
      <legend class="border-bottom mb-4">All Hospitals(3): </legend>

      <table class="table table-hover table-bordered table-striped">
        <thead>
          <tr class="table-primary">
            <th>Name</th>
            <th>Address</th>
            <th>Phone</th>
          </tr>
        </thead>

        <tbody>

          <tr>
            <td>Advanced Eye Center</td>
            <!-- <td></td> -->
            <td>Dhanmondi,Bangladesh</td>
            <td>50665665784</td>
          </tr>

          <tr>
            <td>Uttara Cresent Hospital</td>
            <!-- <td></td> -->
            <td>sector 5 Road,Bangladesh</td>
            <td>28932430</td>
          </tr>

          <tr>
            <td>Al-Barakah Kidney Hospital</td>
            <!-- <td></td> -->
            <td>New Eskaton Road,Bangladesh</td>
            <td>01190468266</td>
          </tr>

        </tbody>

      </table>

      </div>

    </div>


  </main>

{% endblock content %}
